body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(152, 81, 191, 0.568);
}
.navbar{
  position: fixed;
  margin: auto;
  top: 0;
  background-image: linear-gradient(0deg, rgba(124,  0, 70,1), rgba(208, 46,138,1));
  width: 100vw;
  height: 70px;
  border-bottom: 1px solid white;
  box-shadow: 2px 5px 2px rgba(0,0, 0, 0.4), 2px 7px 2px rgba(0,0, 0, 0.2);
  text-align: center;
  text-decoration: solid;
  font-size: 25px;
  font-weight: 500;
  color: cornsilk;
}
.wrapper{
  margin-top: 100px;
}
.main-body{
  
  margin:auto;
  width: 80%;
  height: auto;
  border-color: black;
  border-width: 5px;
  border-style: solid;
}

